<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alaory.wallmewallpaper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-feature android:name="android.software.live_wallpaper" android:required="false"/>

    <application
        android:name=".wallmewallpaper"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallpaper"
        tools:ignore="DataExtractionRules">
        <service android:name=".wallpaper.livewallpaper"
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper_info"
                />
        </service>
        <service android:name=".wallpaper.gifwallpaper"
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper_info"
                />
        </service>
        <activity
            android:name=".postPage.TagActivity"
            android:exported="false"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".Image_Activity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
             />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>