<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alaory.wallmewallpaper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallpaper"
        tools:ignore="DataExtractionRules">
        <service android:name=".wallpaper_changer_service" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true">

        </service>
        <activity
            android:name=".TagActivity"
            android:exported="false"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".Image_Activity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
             />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>